@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Public Sans", sans-serif;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }
  h1 {
    font-family: "Ibarra Real Nova", serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
  }
  h2 {
    font-family: "Ibarra Real Nova", serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
  }
  h3 {
    font-family: "Ibarra Real Nova", serif;
    font-size: 32px;
    font-weight: 100;
    line-height: 36px;
  }
}
